<h1>employee page</h1><br>

<div>
    <h2>xin chào <p id="name"></p></h2>
</div> <br>

<button id="changeAvt">đổi avatar</button> 
<img src="/images/avatar/empty.png" alt="">

<br><br><br>

<button class="" id="signoutBtn">đăng cmn xuất</button> <br> <br> 

<p id="changePassMess"></p>
<button id="changePass">đổi mật khẩu</button> <br>


<br><br><br>

<div id="feature">
    <a href="/employee/stat">thống kê</a> <br>

    <a href="/employee/checkout">checkout</a> <br>
  



</div> <br>

<h2>danh sách hàng hóa:</h2>




<table>
    <thead>
        <th>barcode</th>
        <th>name</th>
        <th>retail price</th>
        <th>category</th>
        <th>creation date</th>
    </thead>
    <tbody>
        {{#each productList}}
            <tr>
                <td><img src="{{barcodeImg}}" alt=""></td>
                <td>{{name}}</td>
                <td>${{retailPrice}}</td>
                <td>{{category}}</td>
                <td>{{creationDate}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>






<script src="/js/employeePage.js"></script>
